<mat-sidenav-container fullscreen>

    <mat-sidenav #start>
        <mat-nav-list>
            <a mat-list-item
               routerLink="/login">
                <mat-icon>
                  account_circle
                </mat-icon>
                <span>Login</span>
            </a>
            <a mat-list-item
               routerLink="/transaction">
                <mat-icon>
                  library_books
                </mat-icon>
                <span>Transaction-History</span>
            </a>
          <a mat-list-item
             routerLink="/voluechange">
            <mat-icon>
              library_books
            </mat-icon>
            <span>voluechange</span>
          </a>

        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar color="primary">
        <button mat-icon-button (click)="start.open('mouse')">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-container>
