<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-tab-group #matgroup>
        <mat-tab label="Please Enter your Account No.">
            <div class="content-container tab-content-height">
                <mat-form-field class="form-element" appearance="outline">
                    <mat-label>Account-No</mat-label>
                    <input matInput placeholder="Account-No" formControlName="accountNo">
                </mat-form-field>
                <mat-form-field class="form-element" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password" formControlName="password" (change)="apiData()">
                </mat-form-field>
<!-- 
                <mat-dialog-actions class="pull-right">
                    <button mat-raised-button color="primary">Next</button>
                </mat-dialog-actions> -->
            </div>
        </mat-tab>
    </mat-tab-group>
</form>
<div> 
    <!-- <mat-icon class="pull-right close-icon" (click)="onCloseDialog()">close</mat-icon> -->
 
</div>
 

