
<div class="container" novalidate>
    <form
      [formGroup]="bankDetailsForm"
      (ngSubmit)="onSubmit()"
      class="form">

        <mat-form-field class="form-element" appearance="outline">
            <mat-label>
              Account-No**
            </mat-label>
            <input matInput
                   placeholder="Name"
                   formControlName="accountNo"
                   (change)="addUser()">
        </mat-form-field>

        <mat-form-field class="form-element" appearance="outline">
            <mat-label>
              Name **
            </mat-label>
            <input matInput
                   placeholder="Name"
                   formControlName="name">
        </mat-form-field>

        <mat-form-field class="form-element" appearance="outline">
            <mat-label>
              Type **
            </mat-label>
            <input matInput
                   placeholder="Type"
                   formControlName="type">
        </mat-form-field>

        <mat-form-field class="form-element" appearance="outline">
            <mat-label>
              Balance **
            </mat-label>
            <input matInput
                   placeholder="Balance"
                   formControlName="openingBalance">
        </mat-form-field>

        <mat-form-field class="form-element" appearance="outline">
            <mat-label>
              Amount **
            </mat-label>
            <input matInput
                   placeholder="Amount"
                   formControlName="amount">
        </mat-form-field>

        <mat-form-field class="form-element" appearance="outline">
            <mat-label>
              Transaction-Type **
            </mat-label>
            <mat-select
              formControlName="transactionType"
              (selectionChange)="valueChangesBalance()">
                <mat-option *ngFor="let type of types" [value]="type">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element" appearance="outline">
            <mat-label>
              Current-Balance **
            </mat-label>
            <input matInput
                   placeholder="Current-Balance"
                   formControlName="balance">
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="button">
          Submit Form
        </button>
    </form>
    </div>
<div class="table-wrapper">
  <table class="fl-table">
    <thead>
    <tr>
      <th>Account-No</th>
      <th>Name</th>
      <th>Type</th>
      <th> Balance</th>
      <th>Amount</th>
      <th>Transaction-Type</th>
      <th>Current Balance</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.accountNo}}</td>
      <td>{{user.name}}</td>
      <td>{{user.type}}</td>
      <td>{{user.openingBalance}}</td>
      <td>{{user.amount}}</td>
      <td>{{user.transactionType}}</td>
      <td>{{user.balance}}</td>
    </tr>
    <tbody>
  </table>
</div>
