    <div class="container" novalidate>

    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="form">

    <mat-form-field class="form-element" appearance="outline">
        <mat-label>Name **</mat-label>
        <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field class="form-element" appearance="outline">
        <mat-label>Date of birth **</mat-label>
        <input matInput placeholder="Date of birth **" formControlName="accountNo">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
        <mat-label>Gender</mat-label>
        <input matInput placeholder="Gender**" formControlName="accountNo">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email **" formControlName="accountNo">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
        <mat-label>Phone-No.</mat-label>
        <input matInput placeholder="Phone-No **" formControlName="accountNo">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
        <mat-label>Type **</mat-label>
        <input matInput placeholder="Type"  formControlName="type">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
        <mat-label>Opening Balance **</mat-label>
        <input matInput placeholder="Opening Balance" formControlName="openingBalance">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
        <mat-label>Amount **</mat-label>
        <input matInput placeholder="Amount" formControlName="amount">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="button" (click)="onSubmit()">Submit
        Form</button>
    <!-- [disabled]="bankDetailsForm.invalid" -->
</form>
</div>
<div>
    <!-- <mat-icon class="pull-right close-icon" (click)="onCloseDialog()">close</mat-icon> -->

</div>
