
// .tab-group {
//     border: 1px solid #e8e8e8;
//   }
  
//   .tab-content {
//     padding: 16px;
//   }
//   .content-container {
//     display: flex;
//     flex-direction: column;
//   }
//   .content-container > * {
//     width: 100%;
//   }
  
//   .dialog-headline{
//   font-weight: 200;
//   margin-top: 10em;
//   margin-left: -1em;
//   margin-bottom: 0;
//   padding: 0.5em;
//   text-align: center;
//   font-size: 1.5em;
//   background-color: dodgerblue;
//   color:white;
//   }
//   .mat-dialog-container {
//   padding: 24px 0 0 0 !important;
//   }
//   .tab-group {
//      border: 1px solid #e8e8e8;
//   }
  
//   .tab-content {
//     padding: 16px;
//   }
//   .content-container {
//     display: flex;
//     flex-direction: column;
//   }
//   .content-container > * {
//     width: 80%;
//   }
  
//   .tab-content-height{
//     height: 100%;
//   }
//   .mat-dialog-actions {
//     flex-direction: row-reverse;
//   }
//   .close-icon{
//     cursor: pointer;
//   }
  
.fill-remaining-space {
    flex: 1 1 auto;
  }
  
  .container {
    padding: 10px;
  }

  .form-element {
    width: 40%;
    margin-left: 5%;
  }
  
  .form-textarea {
      margin-left: 5%;
      width: 85%;
  }
  
  .button {
    width: 40%;
    margin-left: 5%;
  }
  
  ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
  ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(.75);
      width: 133.33333%;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    // max-height: 500px;
    // min-width: 300px;
  }
  
  //table
  
  *{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba( 71, 147, 227, 1);
  }
  h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
  }
  
  