.fill-remaining-space {
  flex: 1 1 auto;
}

.container {
  padding: 10px;
}

.form-element {
  width: 40%;
  margin-left: 5%;
}

.form-textarea {
  margin-left: 5%;
  width: 85%;
}

.button {
  width: 40%;
  margin-left: 5%;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}
.example-container {
  display: flex;
  flex-direction: column;
}
