<div class="container" novalidate>
<!--  //(ngSubmit)="onSubmit()-->
  <form [formGroup]="calculateForm"  class="form">

    <mat-form-field class="form-element" appearance="outline">
      <mat-label>
        Rate-Per-Mile
      </mat-label>
      <input matInput
             placeholder="Rate-Per-Mile"
             formControlName="ratePerMile">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label>
        Total-Miles
      </mat-label>
      <input matInput
             placeholder="Total-Miles"
             formControlName="totalMiles">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label>
        Total-Rate
      </mat-label>
      <input matInput
             placeholder="Total-Rate**"
             formControlName="totalRate">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label>
        Expensive
      </mat-label>
      <input matInput
             placeholder="Expensive"
             formControlName="expensive">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label>
        Earnings
      </mat-label>
      <input matInput
             placeholder="Earnings"
             formControlName="earnings">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label>
        Pay
      </mat-label>
      <input matInput
             placeholder="Pay"
             formControlName="pay">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label>
        Total-Savings
      </mat-label>
      <input matInput
             placeholder="Total-Savings"
             formControlName="total">
    </mat-form-field>

    <button mat-raised-button
            color="primary"
            type="submit"
            class="button">
      SubmitForm
    </button>
  </form>
</div>
