@media (min-width: 1200px) and (max-width: 1500px) {
  .example-container {
    display: flex;
    flex-direction: column;
  }
  .mat-column-No {
    flex: 0 0 5%;
  }

  // .mat-column-transactionType {
  //   flex: 0 0 13%;
  // }
  // .mat-header-cell {
  //   font-size: 12px;
  //   word-break: keep-all;
  //   font-weight: bold;
  // }
  // .mat-cell,
  // .mat-footer-cell {
  //   font-size: 10px;
  // }
  mat-cell,
  mat-header-cell,
  mat-footer-cell {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;

  }

  .mobile-label {
    display: none;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .example-container {
    display: grid;
  }

  // .mat-header-cell {
  //   font-size: 10px;
  //   word-break: keep-all;
  //   font-weight: bold;
  // }

  mat-cell,
  mat-footer-cell,mat-header-cell {
    display: grid;
    grid-template-columns: 100%;
    padding: 0.1rem;
    text-align: center;
    font-weight: normal;
    word-break: keep-all;
    justify-content: center;
    & > * {
      grid-column: 1;
    }
  }
  .mobile-label {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .example-container {
    display: grid;
  }
  
  // .mat-header-cell {
  //   font-size: 10px;
  //   font-weight: bold;
  //   display: grid;
  //   grid-template-columns: 100%;
  //   padding: 0.1rem;
  //   text-align: center;
  //   font-weight: normal;
  //   word-break: break-all;
  //   justify-content: center;
  //   & > * {
  //     grid-column: 1;
  //   }
  // }
  // .mat-cell,
  // .mat-footer-cell {
  //   font-size: 10px;
  // }
  mat-cell,
  mat-footer-cell,mat-header-cell{
    display: grid;
    grid-template-columns: 100%;
    padding: 0.1rem;
    text-align: center;
    font-weight: normal;
    word-break: break-all;
    justify-content: center;
    & > * {
      grid-column: 1;
    }
  }
  .mobile-label {
    display: none;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .example-container {
    display: grid;
  }
  
  // .mat-header-cell {
  //   font-size: 10px;
  //   font-weight: bold;
  //   display: grid;
  //   grid-template-columns: 100%;
  //   padding: 0.1rem;
  //   text-align: center;
  //   font-weight: normal;
  //   word-break: break-all;
  //   justify-content: center;
  //   & > * {
  //     grid-column: 1;
  //   }
  // }
  // .mat-cell,
  // .mat-footer-cell {
  //   font-size: 10px;
  // }
  mat-cell,
  mat-footer-cell,mat-header-cell{
    display: grid;
    font-size: 10px;
    grid-template-columns: 100%;
    padding: 0.1rem;
    text-align: center;
    font-weight: normal;
    word-break: break-all;
    justify-content: center;
    & > * {
      grid-column: 1;
    }
  }
  .mobile-label {
    display: none;
  }
}

@media (max-width: 500px) {
  .mobile-label {
    width: 65vw;
    display: block;
    font-weight: bold;
    color: green;
    text-align: left;
  }
  mat-cell:first-of-type,
  mat-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding-left: 0px;
  }

  mat-row {
    min-height: 5px;
  }
  mat-footer-row {
    min-height: 0px;
  }
  .mat-header-row {
    display: none;
    color: lightcoral;
  }
  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}

.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}

