
<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container *ngFor="let column of  displayedColumns">
        <ng-container matColumnDef="{{column}}">
          <mat-header-cell *matHeaderCellDef>
            {{column}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">{{column}}</span>
            {{element[column]}}
          </mat-cell>
        </ng-container>
      </ng-container>  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"  fxLayoutGap="5px"> </mat-row>
    </table>
  </div>
      <h1 style="text-align: center; margin-top: 2%;">Last-Transaction</h1>
  <div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>Account-No</th>
                <th>Name</th>
                <th>Type</th>
                <th>Balance</th>
                <th>Amount</th>
                <th>Transaction-Type</th>
                <th>Current Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.accountNo}}</td>
                <td>{{user.name}}</td>
                <td>{{user.type}}</td>
                <td>{{user.balance}}</td>
                <td>{{user.amount}}</td>
                <td>{{user.transactionType}}</td>
                <td>{{user.currentBalance}}</td>
            </tr>
        <tbody>
    </table>
  </div>