body{
    background-image: url(https://www.nelito.com/images/blog-images/what-is-digital-banking-its-benefits-and-future-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 95vh;

}
.dialog{
    margin-top: 10%;
    margin-left: 10%;
}
.dialog1{
    margin-left: 2%;
}