
<body>
<button class="dialog"
        mat-raised-button color="primary"
        (click)="openAddFileDialog()">
  Enter your Account-No
</button>
<button class="dialog1"
        mat-raised-button color="primary"
        (click)="openCreateAccount()">
  Create Account
</button>
</body>
