<mat-dialog-content align="center">
	<h2>
		{{message}}
    </h2>
</mat-dialog-content>
<mat-dialog-actions align="center">
	<button mat-raised-button color="primary"
          (click)="onConfirmClick()"
          tabindex="1">{{confirmButtonText}}
  </button>
</mat-dialog-actions>
